.body {
    box-sizing: border-box;
    height: 44vw;
    width: 100vw;
    background-color: black;
    background-image: url("/src/assets/bg-img.avif");
    display: flex;
    
  
   
   background-size: contain;
   
}
.inner-div{
    text-align: start;
    margin-top: 33%;
    
    margin-left: 100px;
    position: absolute;
    background-color: transparent;
}

button{
    padding: 10px;
    box-shadow: 5px 5px 0px  white;
    
}
button:hover{
    
    box-shadow: 5px 5px 0px  gray;
    
}